configuration {
    modi:                       "drun,filebrowser,window,run";
    font:                       "SF Pro Text";
    show-icons:                 true;
    icon-theme:                 "Tela-circle-dracula";
    display-drun:                " ";
	drun-display-format:        "{name}";
    hover-select:               false;
    scroll-method:              1;
    me-select-entry:            "";
    me-accept-entry:            "MousePrimary";
}

@theme "theme.rasi"
